* {
  font-family: 'Roboto', sans-serif;
  
}

#root {
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav {
  align-items: flex-end;
}